* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: #081C34; 
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 300px;
  background-color: #fff;
  color: #081C34;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  z-index: 10;
  overflow-y: auto; 
}

.sidebar.open {
  display: flex; 
}

.perfil-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.perfil-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 2px solid #081C34;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  color: #081C34;
  text-decoration: none;
  font-size: 20px; 
  margin: 0 5px;
}

.social-icons a:hover {
  color: #ff0077;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links li {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: #081C34;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li a:hover {
  background-color: #f0f0f0;
  i {
    color: #ff0077;
  }
}


.footer-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #081C34;
  text-align: center;
  margin-top: 20px;
}

.footer-text a {
  text-decoration: none;
  color: #ff0077;
}

.hero_section {
  margin-left: 300px;
  background-image: url('../src/img/background-hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 80px;
  color: #fff;
  text-align: center;
}

.hero_section h1 {
  font-size: 40px;
  padding-left: 20px;
  color: #fff;
  text-align: right;
}

.role {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.role .line {
  width: 5px;
  height: 40px;
  background-color: #BB1DBE;
}

.role p {
  font-size: 32px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: 350px;
  padding: 40px;
  background-color: #081C34;
  color: #fff;
}

#sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#sobre h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

#sobre .line {
  width: 60px;
  height: 5px;
  background-color: #BB1DBE;
  margin-bottom: 20px;
}

#sobre .iconsobre {
  height: 250px;
  margin-right: 20px;
  float: left;
}

.text-sobre {
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sobre p {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 40px;
  margin-top: 30px;
  margin-left: 50px;
}

.cards div {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 180px;
  border-radius: 10px;
}

.cards div img {
  max-width: 100px;
  max-height: 100px;
}

.cards div:hover {
  box-shadow: 5px 5px 5px 5px #BB1DBE;
}

#formacao {
  margin-top: 50px;
  gap: 20px;
}

#formacao h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

#formacao .line {
  width: 60px;
  height: 5px;
  background-color: #BB1DBE;
  margin-bottom: 20px;
}

.text-formacao {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.text-formacao h3 {
  font-size: 24px;
}

.text-formacao ul {
  padding-left: 25px;
}

.text-formacao li {
  font-size: 18px;
  margin-bottom: 5px;
}

.text-formacao .ano {
  padding-left: 25px;
  color: rgb(175, 175, 175);
}

.text-formacao p {
  font-size: 18px;
}

#projetos, #certificados, #experiencia {
  margin-top: 50px;
}

#projetos h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

#projetos .line {
  width: 60px;
  height: 5px;
  background-color: #BB1DBE;
  margin-bottom: 20px;
}

#certificados .line {
  width: 60px;
  height: 5px;
  background-color: #BB1DBE;
  margin-bottom: 20px;
}

#certificados h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

#experiencia .line {
  width: 60px;
  height: 5px;
  background-color: #BB1DBE;
  margin-bottom: 20px;
}

#experiencia h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end; 
  width: 30px;
  height: 25px;
}

.hamburger-menu div {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}

.cards-certificados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card-certificado {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; 
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-certificado:hover {
  transform: scale(1.05); 
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card-certificado img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #fff; 
  padding: 5px;
}

.card-certificado .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.card-certificado h3 {
  font-size: 18px;
  color: #222;
  margin: 0;
  margin-bottom: 5px;
}

.card-certificado p {
  font-size: 14px;
  color: #666;
  margin: 0;
}



@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }

  .sidebar.open {
    display: flex; 
  }

  .hamburger-menu {
    display: flex;
    position: absolute; 
    top: 20px; 
    right: 20px; 
    z-index: 15; 
  }

  .nav-links {
    display: block; 
  }

  .perfil-section {
    flex-direction: row;
    align-items: center;
  }

  .hero_section {
    margin-left: 0;
    padding: 20px;
    align-items: center;
    text-align: center;
  }
  .social-icons {
    flex-direction: row;
  }

  .perfil-img {
    margin-right: 10px;
    height: 100px;
    width: 100px; 
  }

  main {
    margin-left: 0;
    padding: 20px;
  }

  #sobre img.iconsobre {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center;
    margin: 0px;
    margin-left: 15px;
  }

  .cards div {
    width: 180px;
    height: 150px;
  }

  #sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
  }
  
  #sobre h2 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff;
    text-align: left; 
  }

  .nav-links li a {
    font-size: 16px; 
    padding: 8px; 
  }

  .social-icons a {
    font-size: 18px; 
  }

  .perfil-section {
    display: flex;
    flex-direction: column;
  }
}
